<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart | <%=user.name%></title>
    
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/product.css">
    <script src="/js/user/cart.js"></script>

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="container mt-4">
            <% if(success.length){ %>
                <div class="alert alert-success alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            &times; <!--  x button -->
                        </span>
                    </button>
                    <%= success %>
                </div>
            <% } %>
            <% if(fail.length){ %>
                <div class="alert alert-danger alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            &times; <!--  x button -->
                        </span>
                    </button>
                    <%= fail %>
                </div>
            <% } %>
        <h2>Cart</h2>
        
        <div class="my-4">
            <span class="h3 px-3" id="total">TOTAL: ₹ </span>
            <button class="btn btn-lg btn-success mr-auto" id="checkout-btn">Proceed to Checkout ></button>
        </div>
        
        <div class="row">
        <% populatedUser.cart.forEach((item)=> {%>
            <div class="col-lg-6 com-sm-12">
                <div class="card my-2">
                    <a href="/product/<%=item.product._id%>" class="product-link">                               
                    <div class="card-body row">
                        <div class="col-lg-4 com-sm-12">
                            <img class="img-fluid mb-2" src="<%=item.product.images[0]%>">
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <h5 class="card-title"><%=item.product.name%> 
                                <span class="adminBox inline px-2"><%=item.size%></span>
                            </h5>
                            <p class="card-text"><%= item.quantity%> x ₹ <%=item.product.price%>.00 = ₹ <span class="item-total"><%= item.product.price * item.quantity %>.00</span></p>
                            <p class="card-text"><%=item.gender%></p>
                            <form action="/<%= user.username%>/cart/remove/<%= item.id%>" method="get">
                                <button class="btn btn-sm btn-primary" onclick="return confirm('Confirm: Remove from cart.');">Remove</button>
                            </form>
                        </div>
                    </div>
                    </a>
                </div>

            </div>
        <% }) %>
        </div>

    </div>
</body>
</html>
