<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product | <%= product.name %></title>
    
    <% include ../partials/header.ejs %>

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="container mt-4">
        <% if(success.length){ %>
            <div class="alert alert-success alert-dismissable fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times; <!--  x button -->
                    </span>
                </button>
                <%= success %>
            </div>
        <% } %>
        <% if(fail.length){ %>
            <div class="alert alert-danger alert-dismissable fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times; <!--  x button -->
                    </span>
                </button>
                <%= fail %>
            </div>
        <% } %>
        <h2><%= product.name %> </h2>
        <% if(product.images.length) { %>
            <div class="row">
                <% product.images.forEach(image => { %>
                    <div class="col-lg-4 col-sm-12">
                        <img src='<%= image%>' class="img-fluid">
                    </div>
                <% }) %>
            </div>
        <% } %>
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-6">
                <p>Description: <%= product.description%></p>
                <p>Available for: <%= product.gender%></p>
                <p>Price: ₹ <%= product.price%>.00</p>
                <p>Status: <%= product.status%></p>
                <p>Designer: <a href="/profile/<%= product.designer.username%>">@<%= product.designer.username%></a></p>
                <% if(user && user.isAdmin) { %>
                    <p>Approved By: <a href="/profile/<%= product.approvedBy.username%>">@<%= product.approvedBy.username%></a></p>
                <% } %>
            </div>
            <% if(user){ %>
                <div class="col-sm-3 mt-4">
                    <a href="#" onclick="return confirm('Confirm: Add to cart.')"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size: 100px"></i></a>
                    <p>Add to Cart</p>
                    <input type="number" value="1" min="1">
                </div>
                <div class="col-sm-3 mt-4">
                    <a href="/product/<%= product.id%>/wishlist/<%= user.username%>" onclick="return confirm('Confirm: Add to wishlist.')"><i class="fa fa-heart" aria-hidden="true" style="font-size: 100px"></i></a>
                    <p>Add to Wishlist</p>
                </div>
            <% } else { %>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 mt-4">
                            <a><i class="fa fa-cart-plus" aria-hidden="true" style="font-size: 100px"></i></a>
                        </div>
                        <div class="col-sm-6 mt-4">
                            <a><i class="fa fa-heart" aria-hidden="true" style="font-size: 100px"></i></a>
                        </div>
                        <p class="text-muted mt-4">You need to be logged in to add to cart/wishlist.</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
