<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product | <%= product.name %></title>
    
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="container mt-4">
        <% if(success.length){ %>
            <div class="alert alert-success alert-dismissable fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times; <!--  x button -->
                    </span>
                </button>
                <%= success %>
            </div>
        <% } %>
        <% if(fail.length){ %>
            <div class="alert alert-danger alert-dismissable fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        &times; <!--  x button -->
                    </span>
                </button>
                <%= fail %>
            </div>
        <% } %>
        <h2><%= product.name %> </h2>
        <% if(product.images.length) { %>
            <div class="row">
                <% product.images.forEach(image => { %>
                    <div class="col-lg-4 col-sm-12">
                        <img src='<%= image%>' class="img-fluid">
                    </div>
                <% }) %>
            </div>
        <% } %>
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-6">
                <% if(product.description) { %>
                    <p>Description: <%= product.description%></p>
                <% } %>    
                <p>Available for: <%= product.gender%></p>
                <p>Price: ₹ <%= product.price%>.00</p>
                <p>Status: <%= product.status%></p>
                <p>Designer: <a href="/<%= product.designer.username%>/profile">@<%= product.designer.username%></a></p>

                <% if(product.status =='rejected' && user && (user.isAdmin || user.id==product.designer.id)) { %>
                    <p>Rejected By: <a href="/<%= product.approvedBy.username%>/profile">@<%= product.approvedBy.username%></a></p>
                    <p>Reject Reason: <%= product.rejectReason%></p>
                <% } else if(product.status!='pending' && user && user.isAdmin) { %>
                    <p>Approved By: <a href="/<%= product.approvedBy.username%>/profile">@<%= product.approvedBy.username%></a></p>
                <% } %>

                <% if(user && user.isAdmin && product.status == 'pending') { %>
                    <a href="/product/<%= product.id%>/approve" class="btn btn-lg btn-primary">Approve</a>
                    <a href="/product/<%= product.id%>/reject" class="btn btn-lg btn-danger">Reject</a>
                <% } %>
            </div>
            <% if(product.status == 'in stock' || product.status == 'out of stock') { %>
            <% if(user){ %>
                <div class="col-sm-3 mt-4">
                   <% if(product.status == 'in stock') { %>
                    <form action="/product/<%= product.id %>/cart/<%= user.username%>" method="post" onsubmit="return confirm('Confirm: Add to cart.')">
                        <button type="submit" id="cart-button" class="product-buttons mb-4"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size: 100px"></i></button>
                        <% if(product.gender == "Men") { %>
                            <div class="form-group">
                                <input type="radio" name="gender" value="Men" checked> Men
                            </div>
                        <% } else if(product.gender == "Women") { %>
                            <div class="form-group">
                                <input type="radio" name="gender" value="Women" checked> Women
                            </div>        
                        <% } else { %>
                            <div class="form-group">
                                <input type="radio" name="gender" value="Men" checked> Men
                                <input type="radio" name="gender" value="Women"> Women
                            </div>        
                        <% } %>
                        <div class="form-group">
                            <input type="radio" name="size" value="S" checked> S
                            <input type="radio" name="size" value="M"> M
                            <input type="radio" name="size" value="L"> L
                            <input type="radio" name="size" value="XL"> XL
                        </div>
                        <div class="form-group">
                            <input type="number" name="quantity" value="1" min="1" class="form-control" required>
                        </div>
                    </form>
                    <% } else { %>
                        <a><i class="fa fa-cart-plus" aria-hidden="true" style="font-size: 100px"></i></a>
                        <p class="text-muted mt-4">The product is currently out of stock. Add it to your wishlist to be notified when it becomes available again.</p>
                    <% } %>
                </div>
                <div class="col-sm-3 mt-4">
                    <a href="/product/<%= product.id%>/wishlist/<%= user.username%>" class="product-buttons" onclick="return confirm('Confirm: Add to wishlist.')"><i class="fa fa-heart mt-2" aria-hidden="true" style="font-size: 100px"></i></a>
                </div>
            <% } else { %>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 mt-4">
                            <a><i class="fa fa-cart-plus" aria-hidden="true" style="font-size: 100px"></i></a>
                        </div>
                        <div class="col-sm-6 mt-4">
                            <a><i class="fa fa-heart" aria-hidden="true" style="font-size: 100px"></i></a>
                        </div>
                        <p class="text-muted mt-4">You need to be logged in to add to cart/wishlist.</p>
                    </div>
                </div>
            <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>
